.appWrapper {
  padding: 50px 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.buttons {
  gap: 20px;
  display: flex;
  justify-content: center;
  width: 500px;
  height: auto;
}
